* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	display: flex;
	color: #fff;

	a{
		text-decoration: none;
		color: rgba(255, 255, 255, 0.473);
	}
	.left, .right{
		font-size:1.25rem;
	}
	ul{
		list-style: none;
		display: flex;
		gap:1rem;

		li:nth-child(2){
			position: relative;
		}
		li:nth-child(2)::after{
			content: "";
			display: block;
			width: 4px;
			height: 4px;
			background-color: rgba(255, 0, 0, 0.178);
			border-radius: 50%;
			position: absolute;
			top:0;
			right: 0;
			left: 100%;
		}
		li:last-child{
			
			a{
				color: #fff;
				
			}
			
		}
	}
	
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	.intro{
		max-width: 70%;
		padding: 1rem;
		font-size: small;
	}
	
	nav{
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: black;

		
		a:first-child{
			color:#fff
		}

		a{
			display: flex;
			flex-direction: column;
			color: grey;
			align-items: center;
			text-decoration: none;
			font-size: 1.5rem;
			position: relative;
			padding: 1rem;

			span{
				font-size: 10px;
			}
		}

		& > button{
			font-size: 1.25rem;
			padding: 0.25rem 0.65rem;
			border-radius: 0.5rem;
			border:none;
			border-left:2px solid cyan;
			border-right:2px solid fuchsia
		}

		.dicianove{
			position:absolute;
			color: #fff;
			background-color: red;
			border-radius: 8px;
			padding: 2px 6px;
			left:3rem;
		}
		
	}
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	color: #fff;
	text-align: center;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.item{
		position: relative;
		margin-bottom: 1.5rem;

		
		& > [class^='bi']{
			font-size: 2rem;
		}
		
	}
	
	.item .logo{
		border-radius: 50%;
		border-color: #fff;
		border: 2px solid;
	}
	
    .plus_circle{
		display: block;
		position:absolute;
		left: 34%;
		bottom: 0%;
		background-color: red;
		border-radius: 50%;
		width:16px;
		height: 16px;
		line-height: 1;
		text-align: center;
		
	}
	
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
